= simple_form_for(@contest_category) do |f|
  = f.input :name, required: true, autofocus: true, input_html: { class: 'form-control' }
  %br
  = f.submit class: 'btn btn-primary'
  = link_to 'Cancel', :back, class: 'btn btn-default'
